body {
    margin: 0;
    font-family: Arial,sans-serif;
    background: #f4f6f9;
}


.titulo {
    width: 100%;
    margin: 0;
    padding: 20px;
    background: linear-gradient(to right, #6bcf63, #3d8b40);
    color: white;
    text-align: center;
    font-size: 24px;
    letter-spacing: 1px;
}


.container {
    width: 80%;
    margin: auto;
    text-align: center;
}


.filtros {
    margin: 20px;
}

input, select {
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}


table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background: #eaeaea;
}


.vendido {
    background: #2ecc71;
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
}

.pendiente {
    background: rgb(229, 118, 118);
    color: white;
    padding: 5px 10px;
    border-radius: 6px;
}


.icono {
    cursor: pointer;
    font-size: 18px;
    margin: 0 5px;
    transition: 0.3s;
}

button:hover {
    background: #2d89ef;
}
button {
    margin: 10px;
    padding: 10px 20px;
    background: #4da6ff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}
