body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
}

.container {
    width: 90%;
    margin: 20px auto;
    background: #e6e6e6;
    border: 3px solid #2ecc71;
}


header {
    background: #2ecc71;
    padding: 20px;
    text-align: center;
    color: white;
}


section {
    padding: 20px;
}

h2 {
    margin-bottom: 15px;
}


.filtros input,
.filtros select {
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
}


.tabla-container {
    border: 3px solid #5dade2;
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 10px;
}

th {
    background: #bfbfbf;
    padding: 10px;
}

td {
    background: #d9d9d9;
    padding: 10px;
    text-align: center;
}

/* BOTONES de acciones */
.acciones button {
    border: none;
    background: white;
    margin: 2px;
    padding: 6px 10px;
    cursor: pointer;
    border-radius: 5px;
}

/* Colores de iconos */
.acciones button:nth-child(1) i {
    color: #3498db;
}

.acciones button:nth-child(2) i {
    color: #f39c12;
}

.acciones button:nth-child(3) i {
    color: #e74c3c;
}

.acciones button:hover {
    background: #dcdcdc;
}

/* BOtones inferiores */
.botones {
    margin-top: 20px;
    text-align: center;
}

.botones button {
    background: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.botones button:hover {
    background: #2e86c1;
}
